<div class="flex flex-row items-center justify-start w-full header">
  <p class="m-0 ml-10">{{date | date}}</p>
  <button mat-button
          color="accent"
          class="ml-10"
          (click)="manageSchedule()">
    <span>New Event</span>
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="flex flex-row w-full">
  <div style="width: 50px" class="flex flex-col h-full">
    <button class="hour-text w-full flex flex-col justify-start"
            *ngFor="let h of getRange(0, 24)">{{h}}</button>
  </div>

  <div (mouseenter)="hideMouseTooltip = false"
       (mouseleave)="hideMouseTooltip = true"
       (mousemove)="showTooltip($event)"
       (dblclick)="doubleClickCreateDefaultEvent($event)"
       class="hour-container grow flex flex-col items-end boundary relative">
    <button mat-flat-button
            color="primary"
            id="{{schedule.id}}"
            *ngFor="let schedule of (scheduleService.selectedSchedulesList$ | async) "
            matTooltip="click to edit"
            cdkDragBoundary=".boundary"
            cdkDragLockAxis="y"
            cdkDrag
            (mouseenter)="hideMouseTooltip = true"
            (mouseleave)="hideMouseTooltip = false"
            [cdkDragDisabled]="dragDisabled"
            (cdkDragStarted)="canOpenManageDialogue=false"
            (cdkDragMoved)="onDragMoved(schedule)"
            [cdkDragFreeDragPosition]="schedule.dragPosition"
            (click)="manageSchedule(schedule)"
            [ngStyle]="{'height': schedule.height + 'px'}"
            class="card flex flex-row justify-start items-center">
      <span>{{schedule.title}}</span>
      <span class=""> event starts at {{schedule.dateStart.getHours() | number:'2.0-0'}} : {{schedule.dateStart.getMinutes() | number:'2.0-0'}}</span>
      <span class=""> and ends at {{schedule.dateEnd.getHours() | number:'2.0-0'}} : {{schedule.dateEnd.getMinutes() | number:'2.0-0'}}</span>
    </button>

    <button disabled
            class="mouse-tooltip"
            *ngIf="!hideMouseTooltip"
            [ngStyle]="{'top': mousePosition.y + 'px', 'left': mousePosition.x + 'px',}">Double click here to create a new Event</button>
    
    <!--  Hour Line  -->
    <div class="hour-line-container flex flex-col items-end"
         *ngIf="twoDatesEqual(date, currentHourDate)"
         [ngStyle]="{'top': updateHourLocation(currentHourDate) + 'px'}">
      <button class="time-indicator">{{currentHourDate | date : "hh:mm:ss" }}</button>
      <div class="hour-line"></div>
    </div>
  </div>
</div>


