<div class="flex flex-row w-full justify-center">
  <button mat-icon-button color="primary" (click)="changeMonth(-1)">-</button>
  <mat-label class="p-10 m-0">{{chosenDate.getMonth() + 1}}</mat-label>
  <button mat-icon-button color="primary" (click)="changeMonth(+1)">+</button>
</div>
<li *ngFor="let day of days">{{day}}</li>
<li class="day-cell"
    [class.not-current-month]="chosenDate.getMonth() !== dayDate.getMonth()"
    *ngFor="let dayDate of dates"
    [routerLink]="['/calendar/', dayDate.getFullYear() + '-' + dayDate.getMonth() + '-' + dayDate.getDate()]">
  <span [class.today]="currentDate.getMonth() === dayDate.getMonth() && currentDate.getDate() === dayDate.getDate()">{{dayDate.getDate()}}</span>
</li>



